.container{
    background-color: #fff;
    border: 1px solid black;
    width: 500px;
    margin: auto;
    position: relative;
}

.container>div{
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

.puple-box{
    background-color: purple;
    position: relative;
    left: 20px;
}

.orange-box{
    background-color: orange;
    position: absolute;
    right: 20px;
}

.red-box{
    background-color: red;
    position: fixed;
    top: 20px;
    right: 50px;
}

.yellow-box{
    background-color: yellow;
    width: 100px;
    height: 100px;
    position: sticky;
    top: 20px;
    left: 50px;
}

.demo{
    height: 50px;
}