.container{
    border: 1px solid grey;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 20px;
}

.container>div{
    border: 1px solid black;
    text-align: center;
}

.container>div>img{
    width: 100%;
}

input {
    padding: 15px;
    width: 200px;
}

.cartBtn{
    padding: 15px;
    text-decoration: none;
}